@using mvcPracticalExercise.ViewModels
@model List<QuoteVM>


@{
    ViewBag.Title = "Admin";
}

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h4 class="m-0"><strong>Insurance Quotes:</strong></h4>
        </div>
        <div class="card-body">
            <div class="row">
                    <div class="col-md-3"><strong>First</strong></div>
                    <div class="col-md-3"><strong>Last</strong></div>
                    <div class="col-md-3"><strong>Email</strong></div>
                    <div class="col-md-3"><strong>Quote</strong></div>
            </div>
            @foreach (var quote in Model)
            {
                <div class="row mb-1">
                    <div class="col-md-3">
                        @quote.FirstName
                    </div>
                    <div class="col-md-3">
                        @quote.LastName
                    </div>
                    <div class="col-md-3">
                        @quote.EmailAddress
                    </div>
                    <div class="col-md-3">
                        $@quote.QuoteAmount
                    </div>
                </div>
            }
        </div>
    </div>
</div>

