@model mvcPracticalExercise.Models.Application

@{
    ViewBag.Title = "Success";
}

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h2 class="m-0">Your application was successful.</h2>
        </div>
        <div class="card-body">
            <strong>Your quote amount is $@ViewBag.quoteAmount /per month.</strong><br />
        </div>
    </div>
</div>

